.span1 {
    font-weight: 800;
    font-size: 145px;
    line-height: 30px;
    -webkit-text-stroke: 3px #90b956;
    color: transparent;
}
.span2{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 8px;
}