.mainContainer{
    margin-top: 10%;
    position: relative;
}

.mainContainer img{
    width: 100%;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mid span{
    font-size: 1.3rem;
    font-weight: 500;
    color: #82b440;
    display: inline-block;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mid h1{
    font-size: 2.6rem;
    font-weight: 700;
    color: black;
    margin-bottom: 25px;
    line-height: 1.5;
    position: relative;
}

.mid p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #5e5e5e;
    margin-bottom: 46px;
}

.discoverButton{
    position: relative;
    z-index: 9;
    display: inline-block;
}

.discoverButton a{
    background: #82b440 ;
    color: white;
    border-radius: 0;
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    border: 2px solid #82b440;

    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 12px 35px;
    cursor: pointer;
}
.discoverButton label{
    color: white;
    cursor: pointer;

}
.discoverButton:hover label{
    color: #82b440;
}

.discoverButton a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: white;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: -1;
    transform: scale(.6);
    border-radius: 0;
    opacity: 0;

}

.discoverButton:hover a::after{
    z-index: -1;
    transform: scale(1);
    border-radius: 0;
    opacity: 1;
}

.mid h1::after{
    content: url('../image/banner-dot-vector.26600116.svg');
    position: absolute;
    right: -16px;
    top: -7px;
}

.mid span::after{
    content: url('../image/fly-shape1.d203ed55.svg');
    position: absolute;
    right: -80px;
    top: 8px;
}

.icon{
    position: absolute;
    left: 15%;
    opacity: .5;
}

.icon1{
    position: absolute;
    top: 0%;
    left: 45%;
    opacity: .5;

}

.plane{
    position: absolute;
    opacity: .9;
    animation: cloud 20s linear 0s infinite reverse;
    z-index: 9;
    top: -10%;
}
.plane img{
    min-width: 65px;
    max-width: 65px;
    opacity: .6;

}
@keyframes cloud {
    0%{
        transform: scale(1);
        right: 0%;
    }
    50%{
        right: 50%;
    }
    100%{
        right: 110%;
    }
  }

  .leftImage{

    position: relative;
  }
  .leftImage img{
    width: 70%;
    position: absolute;
    animation: jumping 10s linear infinite alternate;

  }

@keyframes jumping {
    0%{
        margin-top: 0px;
    }
    
    40%{
        margin-top: 50px;
    }
   

    50%{
        margin-top: 60px;
    }
    60%{
        margin-top: 70px;
    }
    100%{
        margin-top: 0px;
    }
}
