@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;500&display=swap');

html {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    margin: 0;
    padding: 0;
    color-scheme: dark;
  }

  body {
    background: white;
  }
}

.container-fluid {
  padding: 0 !important;
}

.deal-content {
  text-align: center;
  padding: 35px 25px;
}

.deal-content h1 {
  margin-bottom: 8px;
}

.discoverButton {
  position: relative;
  z-index: 9;
  display: inline-block;
}

.discoverButton a {
  background: #82b440;
  color: white;
  border-radius: 0;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  border: 2px solid #82b440;

  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 12px 35px;
  cursor: pointer;
}

.discoverButton label {
  color: white;
  cursor: pointer;
}
.discoverButton:hover label {
  color: #82b440;
}

.discoverButton a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
  transform: scale(0.6);
  border-radius: 0;
  opacity: 0;
}

.discoverButton:hover a::after {
  z-index: -1;
  transform: scale(1);
  border-radius: 0;
  opacity: 1;
}

.banner-img1 {
  position: relative;
  overflow: hidden;
}

.favourite {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  background: white;
  border-radius: 50%;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 37px;
  opacity: 0;
  transition: all 0.55s ease;
  cursor: pointer;
}

.bi-suit-heart-fill:before {
  content: '\f59d';
  color: red;
}

.bi:before,
[class*=' bi-']:before,
[class^='bi-']:before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.offer:hover .favourite {
  opacity: 1;
}

.deal-image img {
  overflow: hidden;
  transition: all 0.55s ease-in-out;
}

.offer:hover .deal-image img {
  transform: scale(1.05);
}

.review-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-area .star-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  display: flex;
}

.star-list li {
  color: #ffd91c;
}

.deal-image span.discount-bagde,
.deal-single1 .deal-image span.discount-bagde:after {
  position: absolute;
  background: white;
  font-weight: 500;
  color: #82b440;
  font-family: var(--font-work-sans);
  text-align: center;
}

.deal-image span.discount-bagde {
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  padding: 8px 5px 0;
  border-radius: 100px 100px 0 0;
  min-width: 85;
  min-width: 85px;
  font-size: 20px;
  line-height: 2;
  min-height: 40px;
}

.deal-image span.discount-bagde:after {
  content: 'off';
  top: 3px;
  right: -17px;
  border-radius: 50%;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  transition: all 0.55s ease;
}

.deal-image span.discount-bagde:after {
  position: absolute;
  background: white;
  font-weight: 500;
  color: var(--primary-color1);
  font-family: var(--font-work-sans);
  text-align: center;
}

.offer:hover .discount-bagde:after {
  background: #82b440;
  color: white;
}

.deal-content .price span {
  font-size: 1.1rem;
  font-weight: 600;
  color: #5e5e5e;
  font-family: var(--font-work-sans);
  margin-right: 5px;
  transition: all 0.55s ease-in-out;
}

.offer:hover .deal-content .price span {
  color: #82b440;
}

.price del {
  font-size: 0.8rem;
  font-weight: 500;
  color: #878787;
  font-family: var(--font-work-sans);
}

.review-area > span {
  font-size: 14px;
  font-weight: 500;
  color: #5e5e5e;
  font-family: var(--font-work-sans);
  margin-left: 12px;
}

.review-area {
  justify-content: center;
}

.banner-img1 {
  padding: 0;
  border-radius: 0px;
}

.deal-content a {
  color: black;
}

/*  discover button reverse style */

.discoverButtonReverse {
  position: relative;
  z-index: 9;
  display: inline-block;
}

.discoverButtonReverse a {
  background: white;
  color: #82b440;
  border-radius: 0;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  border: 2px solid #82b440;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 12px 35px;
  cursor: pointer;
}

.discoverButtonReverse label {
  color: #82b440;
  cursor: pointer;
}

.discoverButtonReverse:hover label {
  color: white;
}

.discoverButtonReverse a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #82b440;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
  transform: scale(0.6);
  border-radius: 0;
  opacity: 0;
}

.discoverButtonReverse:hover a::after {
  z-index: -1;
  transform: scale(1);
  border-radius: 0;
  opacity: 1;
}

.section-title1 {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-title1 span {
  display: block;
  font-family: var(--font-work-sans);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color1);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-title1 h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 15px;
  margin-top: -7px;
  display: inline-block;
  font-family: var(--font-merriw);
  line-height: 1.4;
}

.section-title1 img {
  max-width: 370px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.best-plan-single1 {
  width: 100%;
  max-width: 415px;
  border: 1px solid #eee;
  transition: all 0.6s ease;
  margin-left: auto;
  margin-right: auto;
}

.best-plan-single1 .content {
  padding: 30px 25px 35px;
}

.best-plan-single1 .content p {
  font-size: 1rem;
  font-weight: 600;
  color: #82b440;
  margin-bottom: 5px;
}

.best-plan-single1 .content h4 a {
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  transition: all 0.5s ease;
  line-height: 1.4;
}

.best-plan-single1 .conten h4:hover {
  color: #82b440;
}

.best-plan-single1 .content .best-plan-meta span.duration {
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
}

.best-plan-single1 .content .best-plan-meta span.duration .bi {
  margin-right: 10px;
  vertical-align: middle;
  color: #82b440;
}

.best-plan-single1 .content .best-plan-meta span.rating {
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
}

.best-plan-single1 .content .best-plan-meta span.rating .bi {
  color: #82b440;
  margin: 0 5px;
}

.best-plan-single1 .content .best-plan-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.best-plan-single1 .list-area {
  margin-bottom: 25px;
}

.list-area h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
}

.list-area ul.plan-list1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-area ul.plan-list1 li {
  position: relative;
  padding-left: 25px;
  font-size: 17px;
  font-weight: 400;
  color: #5e5e5e;
  margin-bottom: 5px;
}

.list-area ul.plan-list1 li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 2px;
  background: #5e5e5e;
  border-radius: 30px;
}

.list-area ul.plan-list1 li {
  position: relative;
  padding-left: 25px;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-secondary);
  margin-bottom: 5px;
}
.best-plan-single1 .image {
  position: relative;
}
.asking-form-wrap {
  background: #fff7f5;
  padding: 45px 40px;
  margin-top: -100px;
}

form.style-1 .form-inner input,
form.style-1 .form-inner textarea {
  border: 1px solid #ddd;
  height: 60px;
  line-height: 50px;
  font-size: 16px;
  color: black;
  width: 100%;
  background-color: #fff7f5;
  padding: 0 20px;
  transition: all 0.4s ease;
}

form.style-1 .form-inner input:focus,
form.style-1 .form-inner textarea:focus {
  outline: none !important;
  border: 1px solid #82b440;
}

.counter-wrapper {
  background: #fff;
  box-shadow: 4px 3px 40px rgb(16 33 34 / 6%);
  padding: 20px;
}

.counter-single {
  padding: 25px 0;
  cursor: pointer;
}

.counter-single .counter-icon {
  margin-bottom: 12px;
}

.counter-single svg {
  fill: #82b440;
  transition: all 0.5s ease;
}

.counter-single .coundown h3 {
  font-size: 3.6rem;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
  display: inline-block;
}

.bi-plus-lg:before {
  content: '\f64d';
}

.bi:before,
[class*=' bi-']:before,
[class^='bi-']:before {
  display: inline-block;
  font-style: normal;
  font-weight: 400 !important;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.counter-single:hover .counter-icon svg {
  transform: scale(1.3);
}

/* testmonial */
.testimonial-section .testimonial-wrapper .testimonial-area {
  padding: 100px 0;
  width: 58%;
  background: black;
  min-height: 660px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-section .testimonial-wrapper .testimonial-area .testi-quote {
  position: absolute;
  top: 10%;
  /* right: 5%; */
}

.testimonial-wrap {
  width: 80%;
  margin: auto;
  padding: 30px 30px 30px 0;
  position: relative;
}

.testimonial-section .swiper {
  padding: 12px;
  margin: -12px;
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.testimonial-single1 {
  padding-bottom: 30px;
}

.testimonial-single1 .testimonial-content {
  border: 1px solid hsla(0, 8%, 97%, 0.16);
  padding: 35px 25px;
}

.testimonial-single1 .star-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 0 10px;
}

/*  */
.testimonial-section .testimonial-wrapper .newsletter-area {
  min-height: 660px;
  background: url('/image/newsletter.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 10px;
  width: 42%;
  min-width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testi-author1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 18px;
  padding-top: 30px;
  padding-left: 55px;
  position: relative;
  margin-top: 20px;
}

.testimonial-single1 .testi-author1 .image {
  width: 60px;
  height: 60px;
}

.testimonial-single1 .testi-author1 .image img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-single1 .testi-author1 .author-text h5 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.author1 .author-text p {
  font-size: 16px;
  font-weight: 400;
  color: #cbcbcb;
  margin-bottom: 0;
}

.testimonial-single1 .testimonial-content {
  border: 1px solid hsla(0, 8%, 97%, 0.16);
  padding: 35px 25px;
}

.testmonialcontent {
  border: 1px solid hsla(0, 8%, 97%, 0.16);
  padding: 35px 25px;
  width: 100%;
}

.testi-author1:before {
  content: '';
  position: absolute;
  top: -45px;
  left: 60px;
  width: 50px;
  height: 50px;
  background: #000000;
  border-bottom: 1px solid hsla(0, 8%, 97%, 0.16);
  border-left: 1px solid hsla(0, 8%, 97%, 0.16);
  transform: rotate(-45deg);
  overflow: hidden;
}

.newsletter-form {
  margin-top: 40px;
}

.newsletter-form .form-inner {
  width: 100%;
  margin-bottom: 25px;
}

.contact-from-wrapper .newsletter-form .form-inner textarea,
.newsletter-form .contact-from-wrapper .form-inner textarea,
.newsletter-form .form-inner input,
.newsletter-form form.style-1 .form-inner textarea,
form.style-1 .newsletter-form .form-inner textarea {
  width: 100%;
  background: transparent;
  border: 1px solid hsla(0, 0%, 87%, 0.431);
  height: 52px;
  line-height: 52px;
  padding: 0 20px;
  color: white;
  transition: all 0.4s ease;
}

.banner-form-box {
  position: relative;
  z-index: 9;
  text-align: center;
  padding: 45px 30px;
  background: linear-gradient(
    152.97deg,
    rgba(32, 42, 55, 0.4),
    rgba(12, 25, 43, 0.2)
  );
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid rgba(144, 185, 86, 0.33);
  border-radius: 5px;
}

.testimonial-content p {
  font-size: 1.6rem;
  font-weight: 300;
  color: white;
  font-family: var(--font-work-sans);
  margin-bottom: 0;
}

.testmonial-banner {
  border: 1px solid hsla(0, 8%, 97%, 0.16);
  padding: 35px 25px;
}
.testmonial-banner-icons i {
  color: #82b440;
  font-size: 1.4rem;
}
.swiper-sliderr {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination span {
  display: none;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.partner-single img {
  vertical-align: middle;
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.45s ease;
}

.swiper-pagination-bullets {
  display: none;
}

.partner-single:hover img {
  filter: grayscale(1);
}
.footer-section {
  background-image: linear-gradient(
      rgba(9, 16, 13, 0.88),
      rgba(9, 16, 13, 0.88)
    ),
    url('/image/background.png');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  padding: 0 10px;
}

.footer-section:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #292b31;
  z-index: -2;
}

.footer-section .footer-top {
  padding: 90px 0;
}

.footer-section .footer-about {
  background-color: hsla(0, 0%, 7%, 0.9);
  padding: 25px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  max-width: 280px;
  margin: 0 auto;
}

.footer-section .footer-about .footer1-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer-section .footer-about .footer-plane {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  opacity: 0.1;
}

.footer-section .footer-item h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 10px;
}

.footer-section .footer-item .link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-item .link-list li {
  margin-bottom: 15px;
  padding-left: 0;
  transition: all 0.55s ease;
  position: relative;
}

.footer-section .footer-item .contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section .footer-item .contact-list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  gap: 12px;
}

.footer-section .footer-item .contact-list li .icon .bi {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #90b956;
  color: #90b956;
  display: block;
  transition: all 0.45s ease;
  font-size: 16px;
}

.footer-section .footer-item .contact-list li .text {
  color: white;
}

.footer-section .footer-item .contact-list li .text a {
  display: block;
  margin-bottom: 3px;
}

.footer-section .footer-item .contact-list li .icon .bi {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #90b956;
  color: #90b956;
  display: block;
  transition: all 0.45s ease;
  font-size: 16px;
}

.footer-section .footer-top a {
  color: white;
}

.footer-section .footer-meta h4 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin-right: 20px;
  margin-bottom: 0;
}

.footer-section .footer-social {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 0;
}

.footer-section .pay-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.footer-section .footer-meta {
  margin-top: 70px;
}

/* mini footer */

.footer-section .footer-bottom {
  padding: 16px 0;
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 0;
  margin-right: 30px;
  display: flex;
}
.egns-lab {
  font-size: 14px;
  font-weight: 500;
  color: #90b956;
}
.egns-lab:hover {
  color: #90b956;
}

.footer-section .footer-bottom .f-bottom-list li:first-child a {
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
}

.footer-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-bottom .f-bottom-list li:first-child a:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 15px;
  background: white;
}
.f-bottom-list a {
  color: white;
}
.f-bottom-list a:hover {
  color: #90b956;
}

.footer-section .footer-about .footer1-logo p,
.info-single .info-text .footer-section .footer-about .footer1-logo a {
  font-size: 16px;
  font-weight: 400;
  color: #90b956;
  margin-bottom: 0;
  margin-top: 10px;
}

.footer-section .footer-about svg {
  -webkit-animation: rotate 15s linear infinite;
  animation: spin 15s linear infinite;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-social i:hover {
  background: #90b956;
  border: 1px solid #90b956;
}

.footer-social i {
  border: 1px solid #5e5e5e;
  width: 30px;
  height: 30px;
  line-height: 29px;
  color: white;
  background: #0f1012;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  transition: all 0.5s ease-out 0s;
}

.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-section .footer-item .link-list li::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 8px;
  height: 2px;
  display: block;
  background: #90b956;
  opacity: 0;
  transition: all 0.55s ease;
}

.footer-section .footer-item .link-list li:hover {
  padding-left: 15px;
}

.footer-section .footer-item .link-list li:hover a {
  color: #90b956;
}

.footer-section .footer-item .link-list li:hover::after {
  opacity: 1;
}

.footer-section .footer-item h4::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 2px;
  border-radius: 30px;
  display: block;
  background: linear-gradient(90deg, #90b956, transparent);
}
.swiper-slide {
  background: transparent;
}

.hero-interior__title {
  color: #fff;
  font-size: 3.75rem;
  width: 75%;
  margin-bottom: 28px;
  font-family: cerebri sans heavy, sans-serif;
  letter-spacing: -1px;
}

.single-trip .hero-interior__content {
  bottom: 34px;
}

.hero-interior__content {
  position: absolute;
  bottom: 1%;
  left: 10%;
  width: 100%;
}

.hero-interior {
  background: url(https://www.myeveresttrip.com/wp-content/uploads/2018/09/My-Everest-Trip-Everest-Base-Camp-Trek--1900x435.jpeg)
    no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 460px;
}

.site-content {
  margin-top: 5%;
}

.hero-interior__meta {
  padding: 15px 25px;
  border-radius: 34px;
  background-color: rgba(19, 58, 40, 0.23);
  display: flex;
  justify-content: space-around;
  width: 28%;
}
/* responsive */

@media screen and (max-width: 1058px) {
  .testimonial-wrapper {
    flex-direction: column;
  }
  .testimonial-section .testimonial-wrapper .newsletter-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial-area {
    width: 100%;
  }
  .testimonial-section .testimonial-wrapper .testimonial-area {
    width: 100%;
    background: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hero-interior__meta span {
  color: #fff;
  font-size: 1.125rem;
  display: inline-block;
  margin-right: 17px;
  display: flex;
}

.hero-interior {
  display: flex;
}

.hero-interior__meta span .icon-destination {
  width: 16px;
  height: 24px;
}

.hero-interior__meta span svg {
  margin-right: 5px;
  margin-top: -5px;
}

.hero-interior:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.65;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    to(#272c2f)
  );
}


.box__heading {
  border-bottom: 1px solid rgba(24,27,26,.1);
  margin-bottom: 20px;
}

.box__heading h2 {
  font-size: 1.5rem;
  font-family: cerebri sans bold,sans-serif;
  color: #181b1a;
}

.includes ul {
  padding-left: 0;
}

.includes ul li {
  list-style: none;
  margin-bottom: 9px;
  position: relative;
}

.includes li{
  display: flex;
}

.includes .bi-check-circle-fill{
  color: #90b956;
  margin-right: 2%;
}

.excludes li{
  display: flex;
  margin-bottom: 9px;
  padding: 0;
  position: relative;

}

.excludes .bi-x-circle-fill{
  color: #ef4a4a;
  margin-right: 2%;
}

.excludes ul{
  padding: 0;
}

.include-exclue{
}

/* .include-exclue {
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  background-color: #fff;
  margin-bottom: 30px;

  float: left;
  list-style: none;
  position: relative;
} */
.btn-outline-main {
  color: #90b956;
  border-color: #90b956;
}
.btn-outline-main:hover {
  color: white;
  border-color: white;
  background: #90b956;
}
