@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    margin: 0;
    padding: 0;
    color-scheme: dark;
  }
  body {
    background: white;
  }
}

.container-fluid{
  padding: 0 !important;
}

